body {
font-family: "Source Sans Pro", sans-serif;
background-color: white;
background-image: url("haley-powers-QESaXJBiB8Y-unsplash.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
background-position: 50% 50%;
color: midnightblue;
}

#form {
    /* display: flex;
    flex-direction: column; */
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;

}

.form-background {
    background-color: white;
    background: hsla(0, 0%, 100%, 0.5);
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.header-form-submit {
    text-align: center;
}

.header-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

input, textarea, select {
    padding: 6px 10px;
    border-radius: 7px;
}

input, textarea, select :focus {
    border: 1px solid #707070
}

fieldset {
    margin-top: 40px;
}

h1 {
    align-self: center;
    font-size: 50px;
    font-weight: 600;
    color: midnightblue;
    padding: 25px 0px 0px 25px;
    /* position: fixed; */
}

label, legend {
    font-size: 30px;
}

p {
    font-size: 120%;
}

header {
    background-color: white;
}

.logo {
    max-height: 80px;
    margin-bottom: 15px;
}

.btn {
    margin-top: 40px;
    text-transform: uppercase;
}

#search {
align-self: flex-end;
background-color: white;
margin-bottom: 17px;
/* padding: 30px 25px; */
background-image: url('search.png');
background-position: 10px 10px;
background-repeat: no-repeat;
padding-left: 40px;
}

#filter-search {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#filter-search-box {
    border: 1px solid midnightblue;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
    font-size: 10px;
}

#invisible-search {
    border: 1px solid white;
}